h1{
    font-family: 'Times New Roman', Times, serif;
}


h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li{
    padding-bottom: 10px;
}
.intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paddingSpace{
    padding: 20px;
}

.noPadding{

    
}